@using Nwd.BackOffice.Model
@model List<Album>
@{
    ViewBag.Title = "Albums List";
}

<h2>List</h2>

<ul>
    @foreach (Album album in Model)
    {

        <li>
            album.Artist - @album.Title - @album.ReleaseDate
            <ol style="list-style-type:decimal;">
                @foreach (var track in album.Tracks)
                {
                    <li>@track.Song.Name</li>
                }
            </ol>
        </li>


    }
</ul>

